<ion-view view-title="Tasks">
	<ion-content class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		
		<div ui-view="" class="task-show-container"></div>
		<hr />

		<div class="row">
		  <div class="col col-50">
		  	<ul class="">
				<li class="button button-small button-calm" ng-repeat="hour in hourFilters" ng-click="changeHourFilter(hour)" ng-class="(hour.name == currentFilter.hour.name) ? 'active' : ''">{{hour.name}}</li>
			</ul>
		  </div>
		  <div class="col col-25">
		  	<ul class="">
				<li class="button button-small button-calm" ng-repeat="user in userFilters" ng-click="changeUserFilter(user)" ng-class="(user.name == currentFilter.user.name) ? 'active' : ''">{{user.name}}</li>
			</ul>
		  </div>
		  <div class="col">
		  	<a ui-sref="app.tasks.new({projectId: projectId})" class="button button-small button-balanced pull-right">+ New Task</a>
		  </div>
		</div>
		<ion-scroll scrollbar-y="false" direction="y" style="height: 255px;">
			<table class="tasks-table">
				<thead>
					<th></th>
					<th>Name</th>
					<th>Owner</th>
					<th>Category</th>
					<th>Column</th>
					<th>Swimlane</th>
					<th>Created</th>
				</thead>
				<tbody>
					<tr ng-repeat="task in tasks | belongsTo:currentFilter.user.id |inBetween:currentFilter.hour.difference:todayInSeconds:'date_creation'" ng-click="redirect(task)" ng-class="task.highlight ? 'highlight' : ''">
						<td style="background-color: {{task.color.background}}">#{{task.id}}</td>
						<td><a href="">{{task.title}}</a></td>
						<td>{{task.owner_name}}</td>
						<td>{{task.category_name}}</td>
						<td>{{task.column_name}}</td>
						<td>{{task.swimlane_name}}</td>
						<td>{{task.date_creation*1000 | date:'medium'}}</td>
					</tr>
					<tr ng-if="filteredTasks.length == 0">
						<td colspan="7">No data found</td>
					</tr>
				</tbody>
			</table>
		</ion-scroll>

		

	</ion-content>
</ion-view>