<div style="background-color: {{task.color.background}}">
	<h3>#{{task.id}} {{task.title}}</h3>
	<ul>
		<li>Craeted at {{task.date_creation*1000 | date:'medium'}}</li>
		<li>Last Modified on {{task.date_modification*1000 | date:'medium'}}</li>
		<li>Started on {{task.date_started*1000 | date:'medium'}}</li>
		<li><b>Must be done before {{task.date_due*1000 | date:'medium'}}</b></li>
		<li>Started on {{task.date_started*1000 | date:'medium'}}</li>
	</ul>
</div>
<h5>Description</h5>
<p>{{task.description}}</p>

<a ui-sref="app.edit-task({taskId: task.id})" class="button button-positive">Edit</a>