/* Empty. Add your own CSS if you like */

.tasks-table {
	width: 100%;
}

.tasks-table td {
	padding: 5px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.task-show-container {
	padding: 8px;
}
.task-info {
	padding: 5px;
}
ul {
	margin-bottom: 10px;
}
li.button-calm {
	margin-left: 4px;
}
.highlight{
	background-color: #D8F7FF;
}

.item-thumbnail-left > img:first-child {
	max-width: 40px;
  max-height: 40px;
}

.item-thumbnail-left {
	min-height: 60px;
	padding-left: 65px;
}